{% extends 'layout.html' %}
{% load static %}

{% block title %}
  Expense List
{% endblock %}

{% block content %}
<div class="container" style="height: 80vh;">
   <h1 class="my-4 text-center">Expense List</h1>
  <table class="table table-bordered my-4 mb-0 text-center align-middle">
    <thead class="">
      <tr>
        <th>Category</th>
        <th>Amount (₹)</th>
        <th>Date</th>
        <th>Description</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody class="table-group-divider">
      {% for expense in expenses %}
        <tr>
          <td>{{ expense.category }}</td>
          <td>{{ expense.amount }}</td>
          <td>{{ expense.date|date:"d-m-Y" }}</td>
          <td>{{ expense.description }}</td>
          <td>
            <a href="{% url "delete_expense" expense.id %}" class="btn btn-danger btn-sm delete-btn" style="font-weight: bold; border-radius: 0.5rem;" onclick="handleDelete">Delete</a>
          </td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="5">No expenses yet</td>
        </tr>
        {% endfor %}
        <tr>
            <td colspan="5" class="text">Total Expense : <b>₹{{ total }}</b></td>
        </tr>
    </tbody>
  </table>
  <p>No expenses recorded yet. <a href="{% url 'add_expense' %}">Add New Expense</a></p>
</div>
  <script src="{% static 'Javascripts/expense.js' %}"></script>
  {% endblock %}

