<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>
      {% block title %}
        Expense Tracker
      {% endblock %}
    </title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous" />
  </head>
  <style>
    main {
      flex: 1;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 2rem;
    }
  </style>
  <body>
    <nav class="navbar navbar-expand-lg bg-dark text-white" data-bs-theme="dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="#" style="font-weight: bold;">Expense Tracker</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0"></ul>
          <ul class="navbar-nav">
            <li class="nav-item mx-2">
              <a class="nav-link active" href="{% url 'expense_list' %}">Expense</a>
            </li>
            <li class="nav-item mx-2">
              <a class="nav-link active" aria-current="page" href="{% url 'add_expense' %}">Add Expense</a>
            </li>
            <li class="nav-item mx-2">
              <a class="nav-link active" href="#">Summary</a>
            </li>
            {% if request.user.is_authenticated %}
              <li class="nav-item mx-2">
                <a class="nav-link active" href="#">Welcome, {{ request.user.username }}</a>
              </li>
              <li class="nav-item mx-2">
                <a class="nav-link active" href="{% url 'logout' %}">Logout</a>
              </li>
            {% else %}
              <li class="nav-item mx-2">
                <a class="nav-link active" href="{% url 'login' %}">Login</a>
              </li>
              <li class="nav-item mx-2">
                <a class="nav-link active" href="{% url 'signup' %}">Registration</a>
              </li>
            {% endif %}
          </ul>
        </div>
      </div>
    </nav>

    <main>
      {% block content %}

      {% endblock %}
    </main>

    <div class="container-fluid bg-dark text-light" style="position:relative;bottom:0px">
      <p class="text-center mb-0 py-3">
        &copy; {% now 'Y' %} Expense Tracker. All rights reserved
      </p>
    </div>
    <script>
      // sabhi alerts ko 3 second baad hide karo
      setTimeout(function () {
        let alerts = document.querySelectorAll('.alert')
        alerts.forEach(function (alert) {
          // fade-out effect
          alert.classList.remove('show')
          alert.classList.add('fade')
          // phir DOM se hata do
          setTimeout(() => alert.remove(), 500)
        })
      }, 2000) // 3000ms = 3 second
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js" integrity="sha384-ndDqU0Gzau9qJ1lfW4pNLlhNTkCfHzAVBReH9diLvGRem5+R9g2FzA8ZGN954O5Q" crossorigin="anonymous"></script>
  </body>
</html>
